<mat-toolbar class="footer">
    <span>
        © Desenvolvido por Fabrício Ricarte 
        <i class="material-icons v-middle" dirRed>
            favorite
        </i>
        <span class="inter-span">|</span>
        <a href="https://github.com/FRicarteM" target="_blank">
            <img class="v-middle" src="assets/image/github-icon.svg" alt="Logo do GitHub">
            GitHub
        </a>
        <span class="inter-span">|</span>
        <a href="https://linkedin.com/in/fabrício-ricarte" target="_blank">
            <img class="v-middle" src="assets/image/linkedin-icon.svg" alt="Logo do LinkedIn">
            LinkedIn
        </a>
    </span>
</mat-toolbar>
